{% extends "base.html" %}

{% block body %}
    <div class="box-shadow">
            <ul>
                <li><h1>Login</h1></li>
                <hr>
                {{ alert }}
                <form action="{{ url_for('login') }}" method="post">
                    <li><input type="text" name="email" id="email" placeholder="Enter an email"></li>
                    <li><input type="password" name="password1" id="password1" placeholder="Enter a password"></li>
                    <li><input type="submit" value="Login"></input></li>
                </form>
            </ul>
        </div>
{% endblock %}